In [6]:
#1.Unique Words in a Sentence
sentences="python is easy and python is powerful"
words=sentences.split()
unique=set(words)
counts=len(unique)
print("Unique words count:",counts)
print("Unique words:",unique)

Unique words count: 5
Unique words: {'easy', 'is', 'powerful', 'python', 'and'}

In [65]:
#2.Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
salary=0
person=""
for key,value in employees.items():
    if value>salary:
        salary=value
        person=key
print(f"Highest Salary:{person}-{salary}")

Highest Salary:Ravi-75000

In [24]:
#3. Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]
print("List:",numbers)
print("max:",max(numbers))
print("min:",min(numbers))

List: [45, 22, 89, 10, 66]
max: 89
min: 10

In [22]:
#4. Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
for price in prices:
    if price>=1000:
        count+=1
print("Products above 1000:",count)

Products above 1000: 2

In [32]:
#5.Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
count=0
for lists in attendance:
    if lists =="P":
        count+=1
total=len(attendance)
percentage=(count/total)*100
print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

In [33]:
#6. Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique=set(phone_numbers)
print("Unique phone numbers:",unique)

Unique phone numbers: {9876543210, 9123456789}

In [37]:
#7.Count Character Frequency
name="python"
count={}
for char in name:
    if char in count:
        count[char]+=1
    else:
        count[char]=1
print(count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [39]:
#8.Convert List to Tuple
Lists=[10, 20, 30]
tuples=tuple(Lists)
print("Tuple:",tuples)

Tuple: (10, 20, 30)

In [70]:
#9.Check if a Key Exists in a Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
if "Ravi" in employees:
    print("Employee exists")
else:
    print("does not exist")

Employee exists

In [76]:
#10. Calculate Average Marks
marks=[65,70,75,80]
sums=0
for mark in marks:
    sums+=mark
total=len(marks)
average=(sums/total)
print("Average Marks:",average)

Average Marks: 72.5